#services{
    background-color:  aliceblue;
    section{
        text-align: center;
        width: 80%;
        margin: auto;
        
        >section{
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;

            >article{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #fff;
                height: 250px;
                width: 250px;
                box-shadow: 0 0  15px  rgba(0, 0, 0, 0.1 );
                margin: 0 0 50px 0;
                transition: all 0.5s;

                p,h3{
                    text-align: left;
                    padding: 10px;
                }
                &:hover{
                    transform: translateY(-15px);
                    transition: all 0.5s;
                }
            }
        }
    }
} 
.serIcon{
    font-size: 30px;
    color:rgb(104, 169, 230);
    transform: translate(10px ,0);
}  
.actionCall{
        height: 320px;
        background-color: rgb(66, 66, 143);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(rgb(29 40 61 / 90%), rgba(40, 58, 90, 0.9)) , url('../resources/cta-bg.jpg');
        background-position: fixed center center  ;
        background-size: cover;
       
        div{
            p{
                margin: 10px auto;
            }
            width: 60%;
        }
        button{
            border: 2px solid #fff;
            background-color: inherit;
            border-radius: 30px;
            color: rgb(255, 255, 255);
            padding: 15px 25px;
            transition: 0.5s;
            font-size: 16px;
            font-weight: 700;

            &:hover{
                color: #fff;
                background-color:rgb(104, 169, 230);
                border:rgb(104, 169, 230);
                transition: 0.5s;
            }
       }
    }